/* Structure of a CSS RULE: */ */
/* selector {property: value;} */ */

/* PROOF OF LIFE - Make it obvious to see that it's working */ */
body {background-color: rgb(237, 168, 145);}

   
 
body {
   background-color: rgba(182, 233, 241, 0.881);
   margin: 20px;
   padding: 10px;
   /* border-color: blue; */
   /* border-style: double; */
   border: 10px double rgba(37, 37, 171, 0.676);
   font-family: 'Times Roman';
}    
P {font-family: 'Courier';
background-color: rgba(37, 106, 171, 0.279);
}
img {
   width: 400px;
}
header {
   background-color: rgba(219, 132, 132, 0.355);
}

nav li {
    display: inline-block;
    margin-top: 30 px;
    margin-right: 20px;
}

#hero {
    width: 500px;
}

.lower {
    display: inline-block;
    text-align: center;
}

footer {
    text-align: center;
}
/* .home2 {
    width: 20px;
}  */
